@font-face {
    font-family: emulogic;
    src: url(../resources/fonts/emulogic.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
  background-color: #6095F5;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: emulogic;
}
h1{
  color: #fff;
  font-size: 170%;
}
a{
  text-decoration: none;
}
/********************Reusables**********************/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.centered{
  text-align: center;

}
.upper-part{
  /*position: absolute;*/
}
.start-block{
  background-image: url("../resources/button.png") ;
  width: 415px;
  position: relative;
  height: 355px;
  padding-left: 30px;
  margin-top: 70px;
}
.start-block:hover{
  background-image: url("../resources/button-hover.png");
  cursor: pointer;
}

.start-block h1{
  padding-top: 70px;
  font-size: 150%;
  text-align:center;
  margin-left: -30Px;
}
.start-block h2{
  margin-left: -30px;
  margin-top: 25px;
  font-size: 90%;
  color: #000;
}
.headline{
  padding: 70px 0;
}
.date{
  padding-top: 10px;
}
.saveTheDate{
  font-size: 95%;
  color: #00000;
  padding-top: 70px;
}
.coins{
  padding-top: 30px;
}
.clearfix{zoom: 1}
.clearfix:after{
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.block-button{
  background: url('../resources/button.png') no-repeat;
  border: none;
  cursor: pointer;
}
.ground{
  background: url('../resources/brick.png');
  height: 160px;
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.characters{
  position: fixed;
  bottom: 157px;
  left: 9%;
}
.characters img{
  display: inline-block;
  z-index: 1010;
}
.rakun{
  position: fixed;
  right: 150px;
  bottom: -5px;
}
.rakun img{
  width: 300px;
}
.rakun h3{
  position: fixed;
  bottom: 10px;
  font-size: 80%;
  color: #fff;
  margin-left: 40px;
}
#start-block{
  position: fixed;
  right: 7%;
  top: 100px;
}
.left-items{
  position: fixed;
  left: 7%;
  top: 100px;
}
